@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* ------------ Global Styles ------------- */
/* ------------ Global Styles ------------- */
/* ------------ Global Styles ------------- */

body {
    background-color: #FFFFEE;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
  font-family: 'Open Sans', sans-serif;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

/* ------------ Navabar ------------- */
/* ------------ Navabar ------------- */
/* ------------ Navabar ------------- */

.navbar {
    width: 100%;
    padding: 2vw 0 3.5vw 0;
    transition: all 0.4s ease-out;
    z-index: 100;
    background-color: black;
  }
  
  .smallnavbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: black;
    padding: 12px 0 0 0;
    transition: all 0.4s ease-out;
    z-index: 98;
    visibility: hidden;
  }
  
  .smallnavbar2 {
    position: fixed;
    width: 100%;
    height: 65px;
    background-color: rgb(36, 16, 41);
    padding: 10px 0 0 0;
    transition: all 0.4s ease-out;
    z-index: 98;
    top: 0;
  }
  
  .navbar .logo {
    position: relative;
    float: left;
    display: block;
    width: 16%;
    transition: 0.4s;
    margin-left: 3vw;
    z-index: 1000;
  }
  
  .smallnavbar .smalllogo {
    position: relative;
    float: left;
    display: block;
    width: 110px;
    transition: all 0.4s ease-out;
    margin-left: 5%;
    z-index: 99;
    visibility: hidden;
  }
  
  .smallnavbar2 .smalllogo {
    position: relative;
    float: left;
    display: block;
    width: 110px;
    transition: all 0.4s ease-out;
    margin-left: 5%;
    z-index: 99;
  }
  
  .navbar .menu, .smallnavbar .menu, .smallnavbar2 .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    border-bottom: none;
    transition: all 0.3s ease-out;
  }
  
  .navbar .menu a,
  .navbar .menu a:active,
  .navbar .menu a:visited,
  .smallnavbar .menu a,
  .smallnavbar .menu a:active,
  .smallnavbar .menu a:visited,
  .smallnavbar2 .menu a,
  .smallnavbar2 .menu a:active,
  .smallnavbar2 .menu a:visited {
    display: block;
    font-family: 'Open Sans';
    font-weight: 700;
    color: black;
    text-decoration: none;
    padding: 0 20px;
    transition: color 0.7s;
    -moz-transition: color 0.7s;
    font-size: 0.9vw;
  }
  
  .navbar .menu a:hover,
  .smallnavbar .menu a:hover,
  .smallnavbar2 .menu a:hover {
    color: #FFFFEE;
    background-color: black;
    outline: #FFFFEE solid 3px;
    outline-offset: -3px;
    transition: all 0.3s ease-out;
  }

  .navbar #phone-number-box {
    width: 19vw;
    float: right;
    margin-right: 2.5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: -1.8vw;
  }
  
  #dropdown-phone-box {
    display: flex;
    justify-content: center;
    border-bottom: none;
    display: none;
  }

  .navbar #phone-img {
    width: 37px;
  }
  .navbar .menu #dropdown-phone-img {
    display: none;
  }
  .navbar #txt-container {
    margin-left: 20px;
  }
  .navbar #phone-txt {
    color: #FFFFEE;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.2px;
    font-size: 0.9vw;
  }
  .navbar .menu #dropdown-phone-txt {
    color: #FFFFEE;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 20px 0 0 0;
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  .navbar #phone-number {
    color:  rgb(211, 151, 53);
    font-family: 'Open Sans',sans-serif;
    font-size: 2vw;
    font-weight: 900;
  }
  .navbar .menu #dropdown-phone-number {
    color:  #D39735;
    font-family: 'Open Sans',sans-serif;
    font-size: 31px;
    font-weight: 900;
    padding: 0 0 20px 0;
  }
  
  .navbar .menu-icon,
  .smallnavbar .menu-icon,
  .smallnavbar2 .menu-icon {
    display: block;
    padding: 13px 20px;
    position: relative;
    float: right;
    right: 10px;
    cursor: pointer;
  }
  
  .navbar .menu-icon .nav-icon,
  .smallnavbar .menu-icon .nav-icon,
  .smallnavbar2 .menu-icon .nav-icon  {
    background: #ffffee;
    display: block;
    height: 2px;
    width: 22px;
    position: relative;
    transition: background 0.3s ease-out;
  }
  
  .navbar .menu-icon .nav-icon:before,
  .smallnavbar .menu-icon .nav-icon:before,
  .smallnavbar2 .menu-icon .nav-icon:before {
    background: #ffffee;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 7px;
    transition: all 0.3s ease-out;
  }
  
  .navbar .menu-icon .nav-icon:after,
  .smallnavbar .menu-icon .nav-icon:after,
  .smallnavbar2 .menu-icon .nav-icon:after {
    background: #FFFFEE;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -7px;
    transition: all 0.3s ease-out;
  }
  
  .navbar .menu-btn,
  .smallnavbar .menu-btn,
  .smallnavbar2 .menu-btn {
    display: none;
  }
  
  .navbar .menu-btn:checked ~ .menu,
  .smallnavbar .menu-btn:checked ~ .menu,
  .smallnavbar2 .menu-btn:checked ~ .menu {
    max-height: 500px;
    border-bottom: #D39735 5px solid;
    background-color:black;
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .nav-icon,
  .smallnavbar .menu-btn:checked ~ .menu-icon .nav-icon,
  .smallnavbar2 .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  .navbar .menu-btn:checked ~ .menu-icon .nav-icon:before,
  .smallnavbar .menu-btn:checked ~ .menu-icon .nav-icon:before,
  .smallnavbar2 .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  .navbar .menu-btn:checked ~ .menu-icon .nav-icon:after,
  .smallnavbar .menu-btn:checked ~ .menu-icon .nav-icon:after,
  .smallnavbar2 .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }


  /* ------------ Header ------------- */
  /* ------------ Header ------------- */
  /* ------------ Header ------------- */

  #header {
    width: 100%;
    height: 35vw;
    background: url(assets/header-gradient.png) no-repeat, url(assets/direct-business-finance-header.jpg) no-repeat;
    background-size: cover;
    border-bottom: solid 20px #D39735;
  }
  #header-txt-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5vw;
    position: absolute;
    right: 0;
    top: 14vw;
  }
  #header-txt {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2vw;
    font-weight: 900;
    color: white;
  }
  #header-txt-2 {
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    color: white;
  }
  #header-txt-box a {
    font-family: 'Open Sans', sans-serif;
    background: #D39735;
    padding: 20px;
    font-weight: 800;
    text-decoration: none;
    color: #FFFFEE;
  }
  #header-sub-txt {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 800;
  }

/* ------------ About Us ------------- */
/* ------------ About Us ------------- */
/* ------------ About Us ------------- */

#about-us-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome {
  font-size: 3vw;
  font-weight: 800;
}

#gold-bar {
  background-color: #D39735;
  height: 0.6vw;
  width: 28vw;
}

#about-us {
  font-size: 2.5vw;
  font-weight: 800;
  margin: 20px 0 10px 0;
}

#about-quote {
  font-size: 1.5vw;
  font-weight: 700;
  color: #D39735;
  font-style: italic;
  margin: 10px;
  text-align: center;
}

#about-quote-2 {
  display: none;
  font-size: 1.5vw;
  font-weight: 700;
  color: #D39735;
  font-style: italic;
  margin: 10px;
  text-align: center;
}

#simple {
  font-size: 2.5vw;
  font-weight: 800;
  margin: 10px;
}

#simple-2 {
  display: none;
  font-size: 2.5vw;
  font-weight: 800;
  margin: 10px;
}

#about-us-section .two-column-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#about-us-section .two-column-flex .column {
  width: 43%;
  font-size: 1.1vw;
  font-weight: 600;
  margin: 0 2vw;
  text-align: justify;
  line-height: 1.6;
}

#direct-business-line .direct-business-line {
  font-size: 3vw;
  text-align: center;
  margin: 0 20px;
}
#direct-business-line .gold-number {
  text-align: center;
  color: #D39735;
  font-weight: 800;
}
#direct-business-line h1 {
  font-size: 6vw;
  margin: 0 20px;
}

/* ------------ Accordion ------------- */
/* ------------ Accordion ------------- */
/* ------------ Accordion ------------- */

.accordion {
    width: 900px;
    margin: 150px auto;
  }
  
  .accordion .accordion-wrapper {
    list-style: none;
    padding: 0;
    margin: auto;
  }
  
  .accordion .accordion-item {
    /* display: block; */
    border-top: solid 3px #D39735;
    padding-top: 5px;
    width: 100%;
  }

  .accordion .accordion-item-bottom {
    border-bottom: solid 3px #D39735;
  }
  
  .accordion .accordion-item span {
    display: block;
  }
  
  .accordion .accordion-item .checkbox {
    display: none;
  }
  
  .accordion .accordion-item label {
    width: 95%;
    display: block;
    cursor: pointer;
  }
  
  .accordion .accordion-item h4 {
    display: block;
    margin: auto 0;
    padding-top: 15px;
    cursor: pointer;
    width: 90%;
  }
  
  .accordion .accordion-item p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.75em;
    font-weight: 600;
  }
  
  .accordion .accordion-item .tick {
    display: block;
    width: 35px;
    margin: 8px 20px auto 0;
    float: left;
  }
  
  .accordion .accordion-item .arrow-icon {
    background-color: rgb(0, 0, 0);
    display: block;
    position: relative;
    width: 15px;
    height: 3px;
    top: -18px;
    left: -10px;
    border-radius: 5px;
    margin: auto;
    float: right;
    transition: all 0.4s ease-in-out;
  }
  
  .accordion .accordion-item .arrow-icon:before {
    background-color: rgb(0, 0, 0);
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: auto;
    float: right;
    transform: rotate(-90deg);
    transition: all 0.4s ease-in-out;
  }
  
  .accordion .accordion-item .panel {
    position: relative;
    padding: 0 55px 20px 55px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    z-index: 2;
    clear: both;
  }

  .accordion .accordion-item .panel h4 {
      font-size: 24px;
      margin-bottom: 15px;
      cursor: text;
  }
  .accordion .accordion-item .panel h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 45px;
    cursor: text;
    text-align: center;
}
.accordion .accordion-item .panel .black-box {
    background-color: #FFEFD5;
    width: 100%;
    border-top: #D39735 solid 5px;
    border-bottom: #D39735 solid 5px;
    padding: 0 15px;
}
/* .accordion .accordion-item .panel .black-box h4,
.accordion .accordion-item .panel .black-box p,
.accordion .accordion-item .panel .black-box ul,
.accordion .accordion-item .panel .black-box li {
    color: #FFFFEE;
} */
.accordion .accordion-item .panel .centred,
.accordion .accordion-item .panel .black-box .centred {
    text-align: center;
    width: 100%;
}
.accordion .accordion-item .panel .centred span,
.accordion .accordion-item .panel .bottom-p span {
    color: #D39735;
    display: inline;
}
  .accordion .accordion-item .panel .bottom-p {
      margin-bottom: 45px;
  }

  .accordion .accordion-item .panel .black-box .two-columns {
      display: flex;
      margin-bottom: 40px;
  }

  .accordion .accordion-item .panel .black-box .two-columns .column {
      width: 50%;
  }
  .accordion .accordion-item .panel ul,
  .accordion .accordion-item .panel .black-box .two-columns .column ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 25px 0;
  }
  .accordion .accordion-item .panel li {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 2px;
  }
  .accordion .accordion-item .panel .black-box .two-columns .column li {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 2px;
  }
  .accordion .accordion-item .panel li:before,
  .accordion .accordion-item .panel .black-box .two-columns .column li:before {
    content: "●"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: #D39735; /* Or a color you prefer */
  }
  
  .accordion .accordion-item input:checked ~ .panel {
    max-height: 1000px;
  }



/* ------------ Media Queries ------------- */
/* ------------ Media Queries ------------- */
/* ------------ Media Queries ------------- */

@media (max-width: 1250px) {
    .navbar {
        height: 40px;
        position: absolute;
        z-index: 98;
        transition: all 0.4s ease-out;
        padding: 13px 0 0 0;
      }
      .navbar .menu,
      .smallnavbar .menu,
      .smallnavbar2 .menu {
        position: fixed;
        top: 50px;
        clear: both;
        float: right;
        max-height: 0;
        transition: all 0.3s ease-out;
        /* background: rgb(25, 11, 29); */
        width: 100%;
      }
      .navbar .menu li,
      .smallnavbar .menu li,
      .smallnavbar2 .menu li {
        border-bottom: 1px solid #D39735;
        text-align: center;
        width: 40%;
        margin: auto;
      }
      .navbar .menu a, .navbar .menu a:active, .navbar .menu a:visited,
      .smallnavbar .menu a, .smallnavbar .menu a:active, .smallnavbar .menu a:visited,
      .smallnavbar2 .menu a, .smallnavbar2 .menu a:active, .smallnavbar2 .menu a:visited {
        padding: 20px 20px;
        color: #FFFFEE;
        font-size: 14px;
      }
      .navbar .menu a:hover, .smallnavbar .menu a:hover,  .smallnavbar2 .menu a:hover {
        outline: none;
      }     
      .navbar .logo {
        width: 125px;
        margin-left: 3vw;
        padding-top: 0;
      }
      .navbar #phone-number-box {
        display: none;
      }
      #dropdown-phone-box {
        display: unset;
      }
      #small-number-box {
        display: none;
      }
      #header {
        height: 425px;
        background: url(assets/direct-business-finance-header.jpg) no-repeat;
        background-position: top center;
        background-size: cover;
        position: relative;
        top: 40px;
      }
      #header-txt-box {
        position: absolute;
        top: -1px;
        left: 0;
        background: rgba(0, 0, 0, 0.2);
        margin: auto;
        height: 86%;
        padding: 60px 0 0 0;
      }
      #header-txt {
        font-size: 41px;
        padding: 10px 20px;
        margin-bottom: 10px;
      }
      #header-sub-txt {
        font-weight: 600;
        font-weight: 700;
        }
      #about-us-section {
        position: relative;
        top: 40px;
      }
      #about-quote {
        font-size: 2vw;
      }
      #about-us-section .two-column-flex .column {
        font-size: 1.2vw;
      }
}

  @media (min-width: 1250px) {
    .navbar li,
    .smallnavbar li,
    .smallnavbar2 li {
      float: left;
    }
    .navbar .menu a,
    .navbar .menu a:active,
    .navbar .menu a:visited,
    .navbar li a,
    .smallnavbar2 .menu a,
    .smallnavbar2 .menu a:active,
    .smallnavbar2 .menu a:visited,
    .smallnavbar2 li a {
      padding: 0.5vw 0;
      background-color: #FFFFEE;
      width: 9vw;
      text-align: center;
      margin: 0 1vw;
    }
    .smallnavbar .menu a,
    .smallnavbar .menu a:active,
    .smallnavbar .menu a:visited,
    .smallnavbar li a {
      text-align: center;
      margin: 0 1vw;
      color: #FFFFEE;
      font-size: 14px;
    }
    .navbar .menu a:hover,
    .smallnavbar2 .menu a:hover {
    color: #FFFFEE;
    background-color: black;
    outline: #FFFFEE solid 3px;
    outline-offset: -3px;
  }
  .smallnavbar .menu a:hover {
    color: #D39735;
    outline: none;
  }
    .navbar .menu,
    .smallnavbar2 .menu {
      position: relative;
      top: 1vw;
      clear: none;
      max-height: none;
      padding-left: 3vw;
  }
  .smallnavbar .menu {
    padding-left: 10vw;
    position: relative;
    top: 5px;
  }
    .navbar .menu-icon,
    .smallnavbar .menu-icon,
    .smallnavbar2 .menu-icon {
      display: none;
    }
  #small-number-box {
    display: flex;
    float: right;
    margin-right: 2.5vw;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    bottom: 24px;
  }
  #small-phone-img {
    width: 35px;
  }
  #small-phone-number {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #D39735;
    font-weight: 900;
  }
  }

  @media (max-width: 1100px) {
    #about-us-section .two-column-flex .column {
      font-size: 1.3vw;
    }
  }

  @media (max-width: 1000px) {
    #about-us-section .two-column-flex {
      margin-bottom: 40px;
      margin-top: 0;
      flex-direction: column;
    }
    #about-us-section .two-column-flex .column {
      width: 85%;
      margin: 10px auto;
      font-size: 16px
    }
    #welcome {
      font-size: 4vw;
    }
    #gold-bar {
      height: 7px;
      width: 30vw;
    }
    #about-us {
      font-size: 3.5vw;
    }
    #simple {
      font-size: 2.8vw;
    }
    #about-quote {
      font-size: 2.5vw;
    }
  }

  @media (max-width: 770px) {
    #header {
      height: 355px;
    }
    #header-txt-box {
      top: 0;
      height: 295px;
    }
    #header-txt {
      font-size: 4.5vw;
    }
    #header-txt-box a {
      padding: 2vw;
      font-size: 2vw;
    }
    #simple {
      display: none
    }
    #simple-2 {
      display: unset;
      text-align: center;
      font-size: 4.5vw;
    }
    #about-us {
      font-size: 5.5vw;
    }
    #welcome {
      font-size: 7vw;
      text-align: center;
    }
    #about-quote {
      display: none;
    }
    #about-quote-2 {
      display: unset;
      font-size: 3.5vw;
      margin: 10px 8vw;
    }
    #direct-business-line .direct-business-line {
      font-size: 5vw;
    }
    #direct-business-line h1 {
      font-size: 13vw;
    }
    #about-us-section .two-column-flex {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 490px) {
    #header {
      height: 325px;
    }
    #header-txt-box {
      top: -40px;
      height: 305px;
    }
    #header-txt-2 {
      display: unset;
      text-align: center;
      font-size: 7vw;
      padding: 0 20px;
    }
    #header-txt-box a {
      padding: 3vw;
      font-size: 5vw;
    }
    #header-txt {
      display: none;
    }
    #about-us {
      font-size: 7.5vw;
    }
    #welcome {
      font-size: 8vw;
    }
    #about-quote-2 {
      font-size: 4.5vw;
    }
    #simple-2 {
      font-size: 5.5vw;
      margin: 10px 20px 0 20px;
    }
  }